<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Formulário de cadastro de Noticia</title>
		</head>
	<body>

		<h1>Adicionar noticia</h1>
		<br />
		<div class='container'>
		<form action='/noticias/salvar' method='post'>
		   <div class="field">
			<label class="label">Título</label>
			<div class="control">
				<input id='titulo' name='titulo' class="input" type="text" placeholder="Título da notícia">
			</div>
		   </div>
		   <div class="field">
				<label class="label">Descrição da noticia</label>
				<div class="control">
					<textarea id='noticia' name='noticia' class="textarea" placeholder="Conteúdo da notícia" cols='30' rows='5'></textarea>
				</div>
			</div>

			<div class="control">
				<button class="button is-link">Enviar</button>
			</div>
		</form>
		</div>

	</body>
</html>