<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Formulário de cadastro de Noticia</title>
		</head>
	<body>

		<h1>Adicionar noticia</h1>
		<br />
		<div class='container'>
		<form action='/noticias/salvar' method='post'>
		   <div>
			<label>Título</label>
			<div>
				<input id='titulo' name='titulo' type="text" placeholder="Título da notícia">
			</div>
		   </div>

		   <div>
				<label>Descrição da noticia</label>
				<div>
					<textarea id='noticia' name='noticia' placeholder="Conteúdo da notícia" cols='30' rows='5'></textarea>
				</div>
		  </div>

		    <div>
				<label>Nome do autor</label>
					<div>
						<input id='nome_autor' name='nome_autor' type="text" placeholder="Nome do autor">
					</div>
			    </div>
			</div>

		   <div>
				<label >resumo da noticia</label>
				<div>
					<textarea id='resumo' name='resumo' placeholder="Conteúdo do resumo notícia" cols='30' rows='5'></textarea>
				</div>
		  </div>

		  <div>
				<label>Data do fato</label>
					<div>
						<input id='data_registro' name='data_registro' type="date">
					</div>
			    </div>
			</div>

			<div>
				<button>Enviar</button>
			</div>
		</form>
		</div>

	</body>
</html>