<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Notícias</title>
		</head>
	<body>

		<h1>Notícias</h1>
		<table>
			<tr>
				<td>ID</td>
				<td>Titulo</td>
				<td>Descrição</td>
			</tr>

			<% noticias.forEach(noticia => { %>
			<tr>
			    <td><%= noticia.id%></td>
				<td><%= noticia.titulo%></td>
				<td><%= noticia.noticia%></td>
			</tr>
			<% }); %>
		</table>

	</body>
</html>